<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Xiami to Spotify</title>
</head>

<body>
    <p>
    </p>
    <form action="/xiami" method="post">
        <input type="input" name="username" placeholder="xiami username">
        <input type="input" name="password" placeholder="xiami password">
        <input type="hidden" name="spotify_access_token" value={{access_token}}>
        <input type="submit" value="Submit">
    </form>
</body>

</html>