<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Xiami / NetEaseCLoudMusic to Spotify</title>
    <script src="/js/validation.js"></script>
</head>

<body>
    <p>
        Xiami user: Please use this line
    </p>
    <div>
        <form action="/xiami" onsubmit="return validation()" method="post">
            <input id="xiamiUrl" type="input" name="playlistUrl" size="40" placeholder="虾米音乐我的音乐第二页的链接/Url for Second Page of Xiami playListUrl"
                required>
            <input type="hidden" name="spotifyAccessToken" value={{accessToken}}>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <p>
            <font size="3" color="red">for example: </font>
        </p>

        <p>
            <font size="1">https://www.xiami.com/space/lib-song/u/18313828/page/2?spm=a1z1s.6928797.1561534521.342.HmvvYd
            </font>
        </p>

    </div>
    <hr>
    <p>NetEaseCloudMusic user , please use this one,go to the playlist you want to transfer, copy the url
    </p>
    <div>
        <form action="/netEaseCloudMusic" method="post">
            <input type="input" name="playlistUrl" size="40" placeholder="netEaseCloudMusic PlayListUrl" required>
            <input type="hidden" name="spotifyAccessToken" value={{accessToken}}>
            <input type="submit" value="Submit">
        </form>
    </div>
    {{!--
    <script>
        function validation() {
            var url = document.getElementById("xiamiUrl").value;
            if (!url.includes("page/2?spm")) {
                alert("Invalid url, it has to be the url of second page of your playlist");
                return false;
            }
            return true;
        }
    </script> --}}

</body>

</html>